<section id = "welcome_notebooks">
    <div class = "welcomeNotebook">
        <h1>Bem-vindo a tela de cadastro de notebooks </h1>
        <%= link_to 'Notebooks Cadastrados', notebooks_path, class: "btn btn-welcome" %>
    </div>
</section>